@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Gujarati:wght@300&display=swap');

.parte1 {
    margin-top: 16px;
    height: 489px; 
    width: 100%; 
    display: flex;
    justify-content: center;
}

.parte2 {
    justify-content: center;
    align-content: center;
    display: flex;
    height: 489px; 
    width: 100%;    
}

.parte3 {
    max-width: 364px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.parte4 {
    display: flex;
    margin-top: 16px;
    margin-bottom: 16px;
    flex-wrap: wrap; 
    gap: 8px;
    width: 388px; 
}

.imagen1 img {
    display: inline-block;
    width: 43px;
    height: 16px;
    overflow: hidden;
    padding-top: 10px;
}

.imagen2 img {
    display: inline-block;
    width: 36px;
    height: 33px;
    overflow: hidden;
}

.Titulo {
    font-size: 28px;
    font-weight: 400;
    font-family: Helvetica Neue;
    line-height: 2rem;
    margin-bottom: 1.25rem;
}

.Correo {
    display: flex;
    flex-direction: inherit;
    gap: 10px;
}

.Contraseña {
    position: relative;
    border: 1px solid #ccc; /* Borde gris */
    border-radius: 8px; /* Bordes curvos */
    padding: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.Contraseña:hover {
    border-color: black;
}

.Contraseña input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 16px;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

.Contraseña .verContraseña {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Contraseña .verContraseña img {
    width: 20px;
    height: 20px;
}

.botonIniciarSesion {
    margin-top: 28px;
    margin-left: 255px; /* Ajusta según tu diseño */
    background-color: black; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 20px; 
    font-size: 16px; /* Mantén un tamaño consistente */
    cursor: pointer; 
    font-family: Arial, sans-serif; 
    text-align: center; /* Asegura que el texto esté centrado */
    line-height: normal; /* Corrige el espaciado entre líneas */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    transition: background-color 0.3s ease; 
}

.botonIniciarSesion:hover {
    background-color: #757575;
}
