@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

nav{
  height: 90px;
  background-color: aqua;
  display: flex;
  /* font-family: "Libre Franklin", sans-serif; */
  font-family: "Heebo", sans-serif;
}

.imagen_navegador{
  display: flex;
  margin-left: 74px;
  height: 31px;
  width: 92px;
  padding-top: 26px
}

.imagen_navegador:hover{
  opacity: 0.6;
}

nav ul {
  list-style-type: none;
  display: flex;
  padding-right:79px ;
  /* margin-left: auto; */
  margin-left: 557px;
}
nav ul li {
  padding-right: 34px;
  /* padding-left: 700px; */
  padding-top: 16px;
  font-size: 25px;
  font-weight:500;
  transform: scale(1,0.9);
  
}


nav ul li a {
  text-decoration: none; 
  color: black; 
}
