@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.imagen_header{
    display: flex;
    margin-left: 47px;
    height: 23px;

    align-self: center;
}

header{
    margin-top: 0px;
    height: 37px;
    background-color: #f5f5f5;
    display: flex;
    font-family: "Heebo", sans-serif;
}
header ul {
    list-style-type: none;
    display: flex;
    padding-right:48px ;
    margin-left: auto;
    align-items: center;
}
header ul li {
   padding-right: 16px;
    /* padding-left: 700px; */
    font-size: 12px;
    font-weight:500;
}

.divisionHeader{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

header ul li a {
    text-decoration: none; 
    color: black; 
}


.contenedor_menu {
    position: relative;
    display: inline-block;

  }
  
  /* Aquí extendemos el área de hover sin modificar la posición visual del botón */
  .contenedor_menu::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    height: 10px; /* Extiende el área de hover por debajo */
    width: 100%;
   
  }
  
  /* Ajustar la posición del menú con una separación */
  

.imagen_header:hover{
    opacity: 0.6;
}